body {
background-color: #f6fcff;
padding: 0;
margin: 0;
font-family: "Montserrat", sans-serif;
}

imput::placeholder,
textarea:::placeholder{
  font-family: "Montserrat", sans-serif;
}

imput:focus,
textarea:focus{
  outline: none; /* retira a marcaçao de quando focamos o elemento */
  
}

a, nav button{
  text-decoration: none;
  background-color: transparent;
  border: none;
  color: black;
  transition: .4s; /* Transicao em segundos para fazer o hover */
  font-size: 1em;
  cursor: pointer; /* vai se transformar em mao  */
  font-family: "Moontserrat", sans-serif;
}

a:hover,
nav button:hover{
  color: #bbb;
}


/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
