.navbar{
    display: flex;
    box-shadow: rgba(0, 0, 0, .15) 0px -2px 10px 0px;/* criando a sombra embaixo com opacidade de .15 */
    justify-content: space-between; /* Vai separar os items para usar todo o espaço, alinamento horizontal */
    align-items: center; /* alinhamento na vertical */
padding: .5em 2em; /* 5em em baixo e 2 nas laterais */
}

.brand {
    font-size: 1.2em;

}

.brand span{
    font-weight: 900;
    text-transform: uppercase;
}

.links_list  {
    display: flex;
    list-style: none; /* retira a marcacao das lista (as bolinhas) */
}

.links_list li{
    margin-right: 1em;

}
.links_list li a {
    padding: .4em .6em;
}

.active{
    background-color: black;
    color: white;
}

.noActive {
    background-color: white;
    color: black;
}